.root {
  min-height: 100vh;
  padding: calc(var(--space-12) + var(--space-3)) var(--space-5);

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--bg-muted);
}

.grid {
  max-width: calc(
    var(--container-max) - (var(--space-20) + var(--space-20) + var(--space-20) + var(--space-20))
  );
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-6);
}
