@layer utilities {
  .u-sr-only {
    position: absolute;
    width: var(--border-width-1);
    height: var(--border-width-1);
    padding: 0;
    margin: calc(0px - var(--border-width-1));
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
  }

  .u-sr-only-focusable:active,
  .u-sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip-path: none;
    white-space: normal;
  }

  .u-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .u-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .u-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  @media (prefers-reduced-motion: no-preference) {
    .u-smooth-scroll {
      scroll-behavior: smooth;
    }
  }
}
